#header{
    margin: 0;
    padding-bottom:25.6667px;
    padding-left:33px;
    padding-right:33px;
    padding-top:44px;
    text-align:center;
    text-size-adjust:100%;
    vertical-align:baseline;
}
#header h1{
    font-size: 130px;
    font-weight: 700;
    line-height: 1.25;
    margin-top: 100px;
    color: #aa0000;
    font-family: "Times New Roman";
}
#header a{
    font-size: 50px;
    margin: 0 0 0.5em 0;
    color:#000000;
    font-family: Aparajita;
}
.icons{
    text-align: center;
    width: 300px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
}

